html, body {
 height: 100%;
 text-align: center;
 -webkit-text-size-adjust: 100%;
}

body {
 margin: 0;
 font-family: monospace, 'sans-serif';
 color: #c32d82;
 background: #0000bf;
 overflow: hidden;
 box-sizing: border-box;
}
