html, body {
	height: 100%;
	text-align: center;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: monospace, 'sans-serif';
	color: #c32d82;
	background: #0000bf;
	overflow: hidden;
	box-sizing: border-box;
}

div.media {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.codepen {
	max-width: 40px;
	max-height: 40px;
}
